<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Hello</h1>
{% if user.is_authenticated %}
    <p>Welcome {{ user.username }} | <a href="{% url 'logout' %}">Log Out</a></p>
    <a href="{% url 'password_change' %}" class="btn btn-warning">password change</a>
{% else %}
    <p><a href="{% url 'login' %}">Login</a> | <a href="{% url 'signup' %}">Sign Up</a></p>
{% endif %}
<a href="{% url 'book_list' %}">لیست کتاب ها</a>
</body>
</html>